.editor {
  height: 99vh;
  padding-bottom: 20px;
  overflow: auto;
}
.tabs {
  margin: 20px 0 0;
  padding: 0;
}
.tabs li {
  display: inline-block;
  padding: 10px;
  margin-right: 5px;
  width: 100px;
  text-align: center;
  cursor: pointer;
  background: #000;
  position: relative;
  transition: all 0.4s ease-in-out;
  border-radius: 10px 10px 0 0;
  top: 0;
  color: #EBDBB2;
}
.tabs li.active, .tabs li:hover {
  top: 5px;
  background: #282828;
  z-index: 1;
}
